<div class="logo">
    <h1>GH</h1>
</div>
<div class="search-wrapper">
    <span class="material-symbols-outlined absolute-search">search</span>
    <input type="search" id="search" placeholder="Search Products">
</div>
<div class="user">
    <i class="material-symbols-outlined">account_circle</i> <!-- Icono de persona -->
    <div class="text-user">
        <span class="hello">Hello,</span>
        <span class="sign-in">Sign In</span>
    </div>
    
</div>
<div class="cart">
    <i class="material-symbols-outlined">shopping_cart</i>
</div>